@model TransportManagement.Models.User.ChangePasswordModel


@{
    ViewData["Title"] = "Zmiana hasła";
}

@section Styles{
    <link rel="stylesheet" href="~/css/accountLogin.css" />
}

<div class="container">
    <form class="form-sigin" asp-action="ChangePassword" method="post" asp-controller="Account">
        <h1>Zmiana Hasła</h1>
        <label asp-for="CurrentPassword">Aktualne hasło</label>
        <input class="form-control" type="password" asp-for="CurrentPassword" placeholder="Password" required />
        <label asp-for="NewPassword">Nowe hasło</label>
        <input class="form-control" type="password" asp-for="NewPassword" placeholder="Password" required />
        <label asp-for="ConfirmPassword">Potwierdź hasło</label>
        <input class="form-control" type="password" asp-for="ConfirmPassword" placeholder="Password" required />
        <button type="submit" class="btn btn-success">Zmień hasło</button>
    </form>
</div>