@model TransportManagement.Models.User.ChangePasswordModel


@{
    ViewData["Title"] = "Zmiana hasła";
}

@section Styles{
    <link rel="stylesheet" href="~/css/style.css" />
}

<div class="container">
    <form asp-action="ChangePassword" method="post" asp-controller="Account" class="form-container">
        <h1>Zmiana Hasła</h1>
        <label asp-for="CurrentPassword">Aktualne hasło</label>
        <input class="form-control" type="password" asp-for="CurrentPassword" placeholder="Aktualne hasło" required />
        <label asp-for="NewPassword">Nowe hasło</label>
        <input class="form-control" type="password" asp-for="NewPassword" placeholder="Nowe hasło" required />
        <label asp-for="ConfirmPassword">Potwierdź hasło</label>
        <input class="form-control" type="password" asp-for="ConfirmPassword" placeholder="Potwierdź hasło" required />
        <div class="text-center m-5">
            <button type="submit" class="btn btn-success">Zmień hasło</button>
        </div>
    </form>
</div>