@model ForgotPasswordViewModel
<form asp-action="ForgotPassword">
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email"/>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <button type="submit">Resetuj hasło.</button>
</form>