@model TransportManagement.Models.User.ResetPassword.ForgotPasswordViewModel
<form asp-action="ForgotPassword">
    <div>
        <label asp-for="Email"></label>
        <input type="email" id="email" name="Email" class="form-control"/>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Resetuj hasło.</button>
</form>