@{
    ViewData["Title"] = "Potwierdzenie resetu hasła";
}

<div class="text-center">
    <h1 class="display-4">Sprawdź swoją skrzynkę pocztową.</h1>
    <p>Jeśli podałeś poprawny adres e-mail, instrukcja resetu hasła została do Ciebie wysłana.</p>
    <p>
        <a asp-action="LoginUser" class="btn btnalert-primary">Wróć do logowania</a>
    </p>
</div>