@model TransportManagement.Models.User.LoginViewModel




<form class="text-center" asp-action="LoginUser" method="post" asp-controller="Account">
    <h2>Logowanie</h2>
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="validation-sum mary-errors">

            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                @error.ErrorMessage

                <br />
            }

        </div>
    }
    @*<div class="mb-3">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" class="form-control" required />
    </div>
    <div class="mb-3">
        <label for="password">Hasło</label>
        <input type="password" id="password" name="password" class="form-control" required />
    </div>
    <div class="mb-3 form-check">
        <label for="rememberMe">Zapamiętaj mnie</label>
        <input type="checkbox" id="rememberMe" name="rememberMe" class="form-control" required />
    </div>*@
    <div class="pt-3">
    <label asp-for="Email">Email</label>
    <input asp-for="Email" />
    @*<span asp-validation-for="Email"></span>*@
    </div>
    <div class="pt-3">
    <label asp-for="Password">Hasło</label>
    <input asp-for="Password" />
    @*<span asp-validation-for="Password"></span>*@
    </div>
    <div class="pt-4">
    <label asp-for="RememberMe">Zapamiętaj Mnie</label>
    <input asp-for="RememberMe" />
    @*<span asp-validation-for="RememberMe"></span>*@
    </div>
    <button type="submit" class="btn btn-success">Zaloguj</button>
    <div>
        <a asp-action="ForgotPassword" asp-controller="Account" class="btn btn-link">Zapomniałem hasła.</a>
    </div>
</form>