@model TransportManagement.Models.User.RegisterViewModel

<form class="text-center" asp-action="RegisterUser" method="post">
    <h2>Resjestracja</h2>
    <div>
        - Hasło musi składać się z co najmniej 6 znaków.<br />
        - Wszystkie pola muszą być wypełnione.
    </div>
    <div class="pt-3">
        <label asp-for="FirstName">Imię</label>
        <input asp-for="FirstName" />
        @*<span asp-validation-for="FirstName"></span>*@
    </div>
    <div>
        <label asp-for="LastName">Nazwisko</label>
        <input asp-for="LastName" />
        @*<span asp-validation-for="LastName"></span>*@
    </div>
    <div>
        <label asp-for="Email">Email</label>
        <input asp-for="Email" />
        @*<span asp-validation-for="Email"></span>*@
    </div>
    <div>
        <label asp-for="Password">Hasło</label>
        <input asp-for="Password" />
        @*<span asp-validation-for="Password"></span>*@
    </div>
    <div class="pb-2">
        <label asp-for="ConfirmPassword">Powtórz hasło</label>
        <input asp-for="ConfirmPassword" />
        @*<span asp-validation-for="ConfirmPassword"></span>*@
    </div>
    <button type="submit" class="btn btn-success">Zarejestruj</button>
</form>