@model TransportManagement.Models.User.RegisterViewModel


@{
    ViewData["Title"] = "Rejestracja";
}

@section Styles{
    <link rel="stylesheet" href="~/css/accountLogin.css" />
}
<a class="btn btn-outline-success" asp-area="" asp-controller="Account" asp-action="TestEmail" role="button">Test email</a>

<form class="form-signup" asp-action="RegisterUser" method="post">
    <h2>Resjestracja</h2>
    @*<div>
        - Hasło musi składać się z co najmniej 6 znaków.<br />
        - Wszystkie pola muszą być wypełnione.
    </div>*@
    <div class="pt-3">
        <label asp-for="FirstName">Imię</label>
        <input class="form-control" type="text" asp-for="FirstName" placeholder="FirstName" required />
        @*<span asp-validation-for="FirstName"></span>*@
    </div>
    <div>
        <label asp-for="LastName">Nazwisko</label>
        <input class="form-control" type="text" asp-for="LastName" placeholder="LastName" required />
        @*<span asp-validation-for="LastName"></span>*@
    </div>
    <div>
        <label asp-for="Email">Email</label>
        <input class="form-control" type="email" asp-for="Email" placeholder="Email" required />
        @*<span asp-validation-for="Email"></span>*@
    </div>
    @*<div>
        <label asp-for="Password">Hasło</label>
        <input class="form-control" type="password" asp-for="Password" placeholder="Password" required />
    </div>
    <div class="pb-2">
        <label asp-for="ConfirmPassword">Powtórz hasło</label>
        <input class="form-control" type="password" asp-for="ConfirmPassword" placeholder="ConfirmPassword" required />
    </div>*@
    <div>
        <label asp-for="PhoneNumber">Nr telefonu</label>
        <input class="form-control" type="text" asp-for="PhoneNumber" placeholder="PhoneNumber" required />
        @*<span asp-validation-for="Email"></span>*@
    </div>
    <div>
        <label asp-for="DateOfBirth">Data urodzenia</label>
        <input class="form-control" type="date" asp-for="FirstName" placeholder="FirstName" required />
        @*<span asp-validation-for="Email"></span>*@
    </div>
    <div>
        <label asp-for="Address">Adres</label>
        <input class="form-control" type="text" asp-for="Address" placeholder="Address" required />
        @*<span asp-validation-for="Email"></span>*@
    </div>
    <div>
        <label asp-for="Experience">Doświadczenie</label>
        <input class="form-control" type="number" asp-for="Experience" placeholder="Experience" required />
        @*<span asp-validation-for="Email"></span>*@
    </div>
    <button type="submit" class="btn btn-success">Zarejestruj</button>
</form>