html, body {
    height:100%;
}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: #5e4646; /*#5c9a9a;*/
    min-height: 100vh;
}

.navbar{
    position: fixed;
    top: 0;
    margin-left: 0;
    width: 100%;
    z-index: 1000;
    left: 0;
}

.form-sigin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
}

.form-sigin .checkbox{
    font-weight: 400;
}

.form-sigin .form-control:focus{
    z-index: 2;
}

h1{
    padding-top: 20px;
    padding-bottom: 20px;
}

.form-sigin input[type="email"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.form-sigin input[type="password"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}








.form-signup .form-control:focus {
    z-index: 2;
}

.form-signup {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
}


.form-signup input {
    margin-bottom: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.form-forgot {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
}

.form-forgot input{
    margin-bottom: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.form-forgot .form-control:focus {
    z-index: 2;
}



td.comment-cell{
    max-width: 300px;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.leave-action{
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
}