* {
    background-color: #5e4646;/*#5c9a9a;*/
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

div {
    margin: 0;
    padding: 0;
    width: 100%;
}

.text-center {
    margin: 0;
    padding: 0;
    width: 100%;
}

.border{
    border-color: black !important;
}