@model TransportManagement.Models.User.UserViewModel
@{
    ViewData["Title"] = "Zarządzanie rolami";
}


<div class="text-center">
    <h1 class="display-4">Lista Użytkowników</h1>
    <div class="table-container">
        <table class="table table-hover" id="usersTable">
            <thead>
                <tr>
                    <th scope="col">Imię</th>
                    <th scope="col">Nazwisko</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Rola</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Users)
                {
                    <tr>
                        <td scope="row">@item.Name</td>
                        <td scope="row">@item.LastName</td>
                        <td scope="row">@item.Email</td>
                        <td scope="row">@item.Role</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<form method="post" asp-controller="UserManager" asp-action="DeleteThisUser" class="form-container">
    <div class="form-group">
        <label for="Email">E-mail:</label>
        <input type="email" class="form-control" id="Email" placeholder="Email" name="Email" required />
    </div>

    <div class="text-center m-5">
        <button type="submit" class="btn btn-danger">Usuń</button>
    </div>
    <div class="text-center mt-4">
        <a class="btn btn-danger" href="javascript: history.go(-1)">Wróć</a>
    </div>
</form>