<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TransportManagement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/dashboard.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TransportManagement.styles.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.min.css">
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
</head>
@RenderSection("Styles", required:false)
<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TransportManagement</a>
            @*<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>*@
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" asp-controller="Home" asp-action="Index">
                                <span data-feather="home"></span>
                                Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Order" asp-action="Index">
                                <span data-feather="file"></span>
                                Zlecenia
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Driver" asp-action="Index">
                                <span data-feather="users"></span>
                                Kierowcy
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="OrderReport" asp-action="Reports">
                                <span data-feather="bar-chart-2"></span>
                                Raporty
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Role" asp-action="ManageRole">
                                <span data-feather="edit"></span>
                                Zarządzanie Rolami
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="TransportCost" asp-action="TransportCost">
                                <span data-feather="divide-square"></span>
                                Kalkulator
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Dashboard" asp-action="Index">
                                <span data-feather="settings"></span>
                                Panel Admina
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Cv" asp-action="SendCv">
                                <span data-feather="settings"></span>
                                Cv
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Finance" asp-action="Finance">
                                <span data-feather="settings"></span>
                                Finanse
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="LeaveRequest" asp-action="Index">
                                <span data-feather="calendar"></span>
                                Urlop
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="LeaveRequest" asp-action="UserRequest">
                                <span data-feather="calendar"></span>
                                Urlop
                            </a>
                        </li>
                    </ul>
                    <h6 class="slidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Saved Reports</span>
                        <a class="d-flex align-items-center text-muted" href="#">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Current week
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="FinanceReport" asp-action="FinanceMonthlyReport">
                                <span data-feather="file-text"></span>
                                Current month
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Current year
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="FinanceReport" asp-action="FinanceAnnualReport">
                                <span data-feather="file-text"></span>
                                All
                            </a>
                        </li>
                    </ul>
                    <h6 class="slidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Moje Konto</span>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="user"></span>
                                Moje Dane
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="settings"></span>
                                Ustawienia
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="Logout">
                                <span data-feather="log-out"></span>
                                Wyloguj
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" id="main">
                @if (TempData["message"] != null)
                {
                    var message = TempData["message"].ToString();
                    var alertClass = (message.Contains("Nie udało") || message.Contains("Podany użytkownik nie jest kierowcą")
                    || message.Contains("Kierowca w tym czasie jest na urlopie") || message.Contains("Nie można")) ? "alert-danger" : "alert-success";

                    <div class="container mt-3">
                        <div class="alert @alertClass" role="alert">
                            @message
                        </div>
                    </div>
                }
                @RenderBody()
            </main>
        </div>
    </div>
</body>
</html>
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    feather.replace()
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script>
    flatpickr("#startDate", {
        dateFormat: "Y-m-d",
        minDate: "today",
        onChange: function (selectedDate, dateStr, instance) {
            flatpickr("#endDate", {
                dateFormat: "Y-m-d",
                minDate: dateStr
            });
        }
    });

    flatpickr("#endDate", {
        dateFormat: "Y-m-d",
        minDate: "today"
    });
</script>
<script>
    $(document).ready(function () {
        $('#usersTable').DataTable({
            "language": {
                "search": "Szukaj:",
                "lengthMenu": "Pokaż _MENU_ użytkowników",
                "zeroRecords": "Brak wyników",
                "info": "Wyświetlono _START_ do _END_ użytkowników",
                "paginate": {
                    "next": "Następna",
                    "previous": "Poprzednia"
                }
            }
        });
    });
</script>
@*<script>
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
            datasets: [{
                data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
                lineTension: 0,
                backgroundColor: 'transparent',
                borderColor: '#007bff',
                borderWidth: 4,
                pointBackgroundColor: '#007bff'
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: false
                    }
                }]
            },
            legend: {
                display: false,
            }
        }
    });
</script>*@