@{
    ViewData["Title"] = "Generowanie Raportu Finansowego";
}

<div class="text-center">
    <h1 class="display-4">Generowanie Raportu Finansowego</h1>
</div>

<form method="get" id="reportForm" class="form-container">
    <div class="form-group">
        <label for="employeeEmail">Email pracownika</label>
        <input type="email" id="employeeEmail" name="employeeEmail" class="form-control" placeholder="E-mail kierowcy" required />
    </div>
    <div class="form-group">
        <label for="year">Rok</label>
        <input type="number" id="year" name="year" class="form-control" value="@DateTime.Now.Year" min="2000" max="2100" required />
    </div>
    <div class="form-group">
        <label for="month">Miesiąc</label>
        <select id="month" name="month" class="form-control">
            <option value="0">Cały rok</option>
            <option value="1">Styczeń</option>
            <option value="2">Luty</option>
            <option value="3">Marzec</option>
            <option value="4">Kwiecień</option>
            <option value="5">Maj</option>
            <option value="6">Czerwiec</option>
            <option value="7">Lipiec</option>
            <option value="8">Sierpień</option>
            <option value="9">Wrzesień</option>
            <option value="10">Październik</option>
            <option value="11">Listopad</option>
            <option value="12">Grudzień</option>
        </select>
    </div>

    <div class="text-center m-5">
        <button type="submit" class="btn btn-primary">Generuj Raport</button>
    </div>
</form>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var form = document.getElementById("reportForm");
        var monthSelect = document.getElementById("month");

        function updateFormAction() {
            var month = monthSelect.value;

            if (month === "0") {
                form.action = "@Url.Action("DownloadAnnualReport", "FinanceReport")";
            } else {
                form.action = "@Url.Action("DownloadMonthlyReport", "FinanceReport")";
            }
        }

        updateFormAction();

        monthSelect.addEventListener("change", updateFormAction);
    });
</script>
<script>
    $(document).ready(function () {
        $("#employeeEmail").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Order/GetDriverEmails",
                    type: "GET",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response(data);
                    },
                    error: function (xhr, status, error) {
                        console.log("Error:", status, error);
                    }
                });
            },
            minLength: 2
        });
    });
</script>