@model TransportManagement.Models.Truck.TruckViewModel
@{
    ViewData["Title"] = "Ciężarówki";
}


<form method="post" asp-controller="Truck" asp-action="AddNewTruck" class="form-container">
    <div class="form-group">
        <label for="brand">Marka: <span style="color: red">*</span></label>
        <input type="text" class="form-control" id="brand" placeholder="Marka" name="brand" />
    </div>

    <div class="form-group">
        <label for="model">Model: <span style="color: red">*</span></label>
        <input type="text" class="form-control" id="model" placeholder="Model" name="model" />
    </div>

    <div class="form-group">
        <label for="yearofproduction">Rok produkcji: <span style="color: red">*</span></label>
        <input type="number" class="form-control" id="yearofproduction" placeholder="Rok produkcji" name="yearofproduction" />
    </div>

    <div class="form-group">
        <label for="power">Moc: <span style="color: red">*</span></label>
        <input type="datetime" class="form-control" id="power" placeholder="Moc" name="power" />
    </div>

    <div class="form-group">
        <label for="mileage">Przebieg: <span style="color: red">*</span></label>
        <input type="number" class="form-control" id="mileage" placeholder="Przebieg" name="mileage" />
    </div>

    <div class="form-group">
        <label for="weight">Waga: <span style="color: red">*</span></label>
        <input type="text" class="form-control" id="weight" placeholder="Waga" name="weight" />
    </div>

    <div class="form-group">
        <label for="licenseplate">Nr Rejestracyjny: <span style="color: red">*</span></label>
        <input type="text" class="form-control" id="licenseplate" placeholder="Nr Rejestracyjny" name="licenseplate" />
    </div>

    <div class="text-center m-5">
        <button type="submit" class="btn btn-success">Dodaj</button>
    </div>
    <div class="text-center mt-4">
        <a class="btn btn-danger" href="javascript: history.go(-1)">Wróć</a>
    </div>
</form>