@model TransportManagement.Models.User.ResetPassword.ForgotPasswordViewModel

@section Styles{
    <link rel="stylesheet" href="~/css/login.css" />
}


<div class="container">
    <form class="form-forgot" asp-action="ForgotPassword">
        <h5>Wprowadź e-mail na który zostanie wysłany link do zmiany hasła.</h5>
        <input type="email" id="email" name="Email" class="form-control" placeholder="Email" required/>
        <button type="submit" class="btn btn-primary">Resetuj hasło.</button>
    </form>
</div>