@{
    ViewData["Title"] = "Potwierdzenie resetu hasła";
}

<div class="text-center">
    <h1 class="display-4">Twoje hasło zostało zmienione.</h1>
    <p>Możesz zalogować się na swoje konto.</p>
    <p>
        <a asp-action="LoginUser" asp-controller="Account" class="btn btnalert-primary">Wróć do logowania</a>
    </p>
</div>