@model TransportManagement.Models.User.ResetPassword.ResetPasswordViewModel
<form asp-action="ResetPassword" method="post" asp-controller="ResetPassword">
    <input type="hidden" asp-for="UserId"/>
    <input type="hidden" asp-for="Token"/>
    <div>
        <label for="NewPassword">Nowe hasło</label>
        <input asp-for="NewPassword" type="password"/>
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div>
        <label for="ConfirmPassword">Potwierdź hasło</label>
        <input asp-for="ConfirmPassword" type="password"/>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit">Resetuj hasło.</button>
</form>