@model TransportManagement.Models.Cv.CvViewModel

@{
    ViewData["Title"] = "CV";
}

@section Styles{
        <link rel="stylesheet" href="~/css/accountLogin.css" />
}

<div class="container">
    <h1 class="text-center">Prześlij Swoje CV</h1>

    <form class="form-sigin" asp-action="SendCv" method="post" asp-controller="Cv" enctype="multipart/form-data">

        <div class="form-group">
            <label class="sr-only" asp-for="ApplicantEmail">Podaj swój e-mail i załącz swoje CV</label>
            <input class="form-control" type="email" asp-for="ApplicantEmail" placeholder="Email" required />
        </div>

        <div class="form-group mb-4">
            <label asp-for="CvFile" class="sr-only">Załącz CV</label>
            <input type="file" asp-for="CvFile" accept=".pdf,.doc,.docx" class="form-control-file" required />
        </div>

        
        <div class="text-center mt-4">
            <button type="submit" class="btn btn-lg btn-primary">Wyślij CV</button>
        </div>
    </form>
</div>