@model TransportManagement.Models.User.UserViewModel
@{
    ViewData["Title"] = "Zarządzanie rolami";
}

<div class="text-center">
    <h1 class="display-4">Lista Użytkowników</h1>
    <table class="table table-hover" id="usersTable">
        <thead>
            <tr>
                <th scope="col">Imie</th>
                <th scope="col">Nazwisko</th>
                <th scope="col">Email</th>
                <th scope="col">Rola</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Users)
            {
                <tr>
                    <td scope="row">@item.Name</td>
                    <td scope="row">@item.LastName</td>
                    <td scope="row">@item.Email</td>
                    <td scope="row">@item.Role</td>
                </tr>
            }
        </tbody>
    </table>

    <div class="text-center m-5">
        <a class="btn btn-outline-success" asp-area="" asp-controller="Role" asp-action="AssignRole" role="button">Dodaj rolę</a>
        <a class="btn btn-outline-warning" asp-area="" asp-controller="UserManager" asp-action="UpdateUser" role="button">Edytuj kierowcę</a>
        <a class="btn btn-outline-danger" asp-area="" asp-controller="Role" asp-action="UnAssignRole" role="button">Usuń rolę</a>
    </div>
</div>