@model TransportManagement.Models.LeaveRequests.LeaveRequestViewModel


@{
    ViewData["Title"] = "Archiwum Wnioskó Urlopowych";
}

<div class="text-center">
    <h1 class="display-4">Archiwum Wniosków</h1>
    <div class="table-container">
        <table class="table table-hover" id="leaveTable">
            <thead>
                <tr>
                    <th>Data początkowa</th>
                    <th>Data zakończenia</th>
                    <th>Komentarz</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var request in Model.LeaveRequests)
                {
                    <tr>
                        <td>@request.StartDate.ToShortDateString()</td>
                        <td>@request.EndDate.ToShortDateString()</td>
                        <td class="comment-cell">@request.AdminComment</td>
                        <td>@request.Status</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>