@model TransportManagement.Models.LeaveRequests.LeaveRequestModel


@{
    ViewData["Title"] = "Urlop";
}

@section Styles{
    <link rel="stylesheet" href="~/css/login.css" />
}

<div class="container">
    <form class="form-sigin" asp-action="SubmitLeaveRequest" method="post" asp-controller="LeaveRequest">
        <input type="hidden" asp-for="UserId" value="@User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value"/>
        <div class="form-group">
            <label class="sr-only" asp-for="StartDate">Data początkowa</label>
            <input class="form-control" type="text" asp-for="StartDate" id="startDate" required />
        </div>

        <div class="form-group">
            <label class="sr-only" asp-for="EndDate">Data zakończenia</label>
            <input class="form-control" type="text" asp-for="EndDate" id="endDate" required />
        </div>
        <button type="submit" class="btn btn-success">Złóż wniosek</button>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>