@model TransportManagement.Models.LeaveRequests.LeaveRequestModel


@{
    ViewData["Title"] = "Urlop";
}



<div class="text-center">
    <h1 class="display-4">Składanie Wniosku</h1>
</div>
<form asp-action="SubmitLeaveRequest" method="post" asp-controller="LeaveRequest" class="form-container">
    <div class="form-group">
        <div class="leave-action">
            <input type="hidden" asp-for="UserId" value="@User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value" />
            <div class="form-group">
                <label class="sr-only" asp-for="StartDate">Data początkowa</label>
                <input class="form-control" type="date" asp-for="StartDate" id="startDate" required />
            </div>

            <div class="form-group">
                <label class="sr-only" asp-for="EndDate">Data zakończenia</label>
                <input class="form-control" type="date" asp-for="EndDate" id="endDate" required />
            </div>
            <div class="text-center m-5">
                <button type="submit" class="btn btn-success">Złóż wniosek</button>
            </div>
        </div>
    </div>
</form>