@model TransportManagement.Models.LeaveRequests.LeaveRequestViewModel


@{
    ViewData["Title"] = "Urlop";
}

<div class="text-center">
    <h1 class="display-4">Lista Wniosków</h1>
    <div class="table-container">
        <table class="table table-hover" id="leaveTable">
            <thead>
                <tr>
                    <th>Data początkowa</th>
                    <th>Data zakończenia</th>
                    <th>Komentarz</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var request in Model.LeaveRequests.Where(r=>r.EndDate >= DateTime.Now.AddYears(-1)))
                {
                    <tr>
                        <td>@request.StartDate.ToShortDateString()</td>
                        <td>@request.EndDate.ToShortDateString()</td>
                        <td class="comment-cell">@request.AdminComment</td>
                        <td>@request.Status</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="text-center mt-4">
        <a class="btn btn-lg btn-primary" asp-area="" asp-controller="LeaveRequest" asp-action="SubmitLeaveRequest" role="button">Złóż wniosek</a>
    </div>
</div>