@{
    ViewData["Title"] = "Główna Strona";
}

<div class="container py-5">
    <div class="text-center">
        <h1>Witamy w TransportManagement</h1>
        <p>Profesjonalna obsługa transportu i logistyki.</p>
        <p>Nasza apliakcja pozwala na zarządzanie kierowcami, flotą pojazdów, naczepami i zleceniami w jednym miejscu!</p><br />
    </div>

    <div class="row text-center">
        <div class="col-md-4">
            <div class="service-box">
                <h3>Zarządzanie Kierowcami</h3>
                <p>Zarządzanie danymi kierowców, przypisywanie ich do pojazdów. Zarządzanie ich harmonogramami, dostępnością i przypisanymi zleceniami w jedyn miejscu.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service-box">
                <h3>Zarządzanie Flotą</h3>
                <p>Kontrola stanu swojej floty, sprawdzanie dostępności pojazdów oraz naczep. Szybkie przypisywanie pojazdu oraz naczepy do kierowcy.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service-box">
                <h3>Zlecenia Transportowe</h3>
                <p>Łatwe przypisywanie zleceń transopotowych, monitorowanie postępu i zarządzanie logistyką. Możliwość szybkiego reagownaia na zmieniające się okoliczności.</p>
            </div>
        </div>
    </div>

    <p>Szukasz nowych wyzwań w transporcie? Aplikuj na stanowisko kierowcy lub spedytora w naszej firmie! Wystarczy wysłać CV na nasz e-mail lub poprzez formularz w aplikacji, a my zajmiemy się resztą.
        Twoja kariera w transporcie zaczyna się tutaj.
    </p>
</div>